#logoSpan {
  margin-top: 150px;
  vertical-align: middle;
  text-align: right;
}

#logoHeader {
  height: 60px;
}

#menu {
  color: #05c7f2;
  font-size: 34px;
  text-align: right;
  vertical-align: up;
  padding-left: 140px;
  cursor: pointer;
}

#menu:hover {
  color: white;
}
