.intro {
  margin-top: 35px;
  padding-top: 3px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 22px;
  padding-left: 40px;
  position: relative;
  background-color: white;
}

#banner-home {
  margin-top: 0px;
  width: 500px;
}
