#signUp-body {
  height: 250px;
}
#form-signUp-background {
  height: 330px;
  background-color: $basicBlack;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#form-signUp-background > * {
  margin-left: 2px;
  padding-left: 0px;
  margin-top: 12px;
}

#signUp-body p {
  margin-top: 52%;
  text-align: center;
}
